<header class="app-header">
  <div class="header-brand">
    <h1>Inventory</h1>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/sellers">Sellers</a></li>
    </ul>
  </nav>
</header>