<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="app-container">
      <%- include("./partials/header") %>
      <main class="app-main"> 
        <h1>Please create categories and sellers!</h1>
        <p>Need to have both sellers and categories available before creating an item!</p>
        <a href="/category/create">Create Category</a>
        <a href="/seller/create">Create Seller</a>
      </main>
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
