<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <div class="app-container">
      <%- include("./partials/header") %>
      <main class="app-main">
        <h1>Create a new seller!</h1>        
        <%- include("./partials/seller_form") %>
      </main>
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>
